* {
    font-family: sans-serif;
}

body {
    padding: 50px;
    padding-top: 10px;
    text-align: center;
}

li {
    background-color: rgb(238, 235, 235);
    padding: 15px;
    width: 50%;
}

a {
    color: black;
}

input[type='text'] {
    padding-left: 4px;
    height: 25px;
}

input[type="submit"] {
    margin: 50px;
    border-radius: 50px;
    padding: 15px;
}

button {
    margin: 5px;
    border-radius: 50px;
    padding: 15px;
    border-color: black;
}
